<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.name %>
    </title>
</head>

<body>
    <h1>Welcome to r/<%= data.name %></h1>
    <p><%= data.description %> </p>
    <p>Subscribers:<%= data.subscribers %></p>
    <ul>
        <% for (let post of data.posts) { %> 
            <li>
                <h3><%= post.title %> </h3>
                <h4><%= post.author %> </h4>
                <img src="<%= post.img %>" alt="">
            </li>
        <% } %> 
    </ul>
</body>

</html>