
<%- include('partials/head') %>

<body>

    <%- include('partials/navbar') %>

    <h1>Welcome to r/<%= data.name %></h1>
    <p><%= data.description %> </p>
    <p>Subscribers: <%= data.subscribers %></p>
        <% for (let post of data.posts) { %> 
            <article>
                <p><%= post.title %> - <strong><%= post.author %></strong></p>

                <% if (post.img){ %>
                    <img src="<%= post.img %>" alt ="">
                    <% } %>
            </article>
        <% } %> 
</body>

</html>